<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>Main page</h1>
    <p>Below you will see all the items</p>
    <% rackets.forEach(racket => { %>
        <div>
            <h1>Name: <%= racket.name %></h1>
            <img src="<%= racket.picture %>" alt="racket picture">
            <h3>Weight: <%= racket.weight %></h3>
            <h3>Rating: <%= racket.rating %></h3>
            <h3>Category: <%= racket.category %></h3>

            <a href="/update/<% racket.id %>">Update</a>
            <a href="/delete/<% racket.id %>">Delete</a>
        </div>
    <%}); %>
</body>
</html>