<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-create.css">
    <title>Update Racket</title>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <main>
        <h1>Here you can update rackets</h1>
        <p>The form is below</p>
        <%- include("partials/error.ejs") %>
        <form action="/update/<%= racket.id %>" method="post">
            <div class="pair">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name" value="<%= racket.name %>" required>
            </div>
            <div class="pair">
                <label for="weight">Weight (grams): </label>
                <input type="number" name="weight" id="weight" value="<%= racket.weight %>" required min="0" max="1000">
            </div>
            <div class="pair">
                <label for="picture">Picture-url: </label>
                <input type="text" name="picture" id="picture" value="<%= racket.picture %>" required>
            </div>
            <div class="pair">
                <label for="rating">Your rating out of 5: </label>
                <input type="number" name="rating" id="rating" value="<%= racket.rating %>" required min="0" max="5" step="0.1">
            </div>
            <div class="pair">
                <label for="category">Choose a category: </label>
                <input type="text" name="category" id="category" value="<%= racket.category %>" required>
            </div>
            <div class="pair">
                <button type="submit">Submit</button>
            </div>
        </form>  
    </main>
</body>
</html>